* {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.content {
    width: 960px;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.top-bar {
    margin-bottom: 20px;
    background: #ffffff;
    border-color: #cccccc;
}

header {
    float: left;
    width: 25%;
    border: 2px solid;
    background: #4aaaa5;
    text-align: center;
    margin-left: 25%;
}

nav {
    float: left;
    width: 25%;
    margin-top: 25px;
    margin-left: 20%;
    text-align: center;
}

.main {
    clear: both;
    margin-left: 25%;
    border: 1px solid;
}

h1.main {
    color: #4aaaa5;
}

footer {
    background: #666666;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3%;
    border-top: 3px solid;
    padding: 20px;
}